@charset "UTF-8";
@keyframes heroGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #5d78ff;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1;
}

:root {
  --font-body: "Montserrat", sans-serif;
  --font-secular: "Secular One", sans-serif;
  --gradient-hero: linear-gradient(
    to right top,
    #3dceff,
    #5d78ff,
    #43e8ae,
    #2a45cc
  );
  --gradient-female: linear-gradient(
    to right top,
    #ef32d9,
    #89fffd,
    #ec2f4b,
    #43e8ae
  );
}

.heading__primary {
  display: inline-block;
  font-family: var(--font-secular);
  font-size: clamp(3rem, 20vw, 16rem);
  font-weight: 100;
}

.heading__secondary {
  display: inline-block;
  font-size: clamp(2rem, 10vw, 9.6rem);
  font-weight: 700;
  color: #3456ff;
  position: relative;
  margin-bottom: 8rem;
}
.heading__secondary span {
  position: relative;
  color: #3dceff;
  z-index: 100;
}
.heading__secondary[footer] {
  margin-top: 15rem;
}

img[underline] {
  position: absolute;
  bottom: -7%;
  right: -4%;
  z-index: 1;
}

.heading__tertiary {
  display: inline-block;
  font-size: 6.4rem;
  color: #5d78ff;
}

.testimonials {
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.testimonials__subheading {
  margin-top: -4rem;
  font-size: 6.4rem;
  font-weight: 700;
  color: #43e8ae;
  margin-bottom: 8rem;
}

.review {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  align-items: stretch;
}
.review > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem;
  background-color: #3dceff;
  color: #fff;
}
.review__heading {
  font-size: 3rem;
  font-weight: 700;
}
.review__details {
  font-size: 1.7rem;
  line-height: 1.2;
}
.review__1 {
  background-color: #fff626;
  color: #070928;
  grid-row: 1/3;
  grid-column: 1/3;
  position: relative;
}
.review__1::before {
  content: '"';
  font-family: var(--font-secular);
  font-size: 40rem;
  position: absolute;
  top: -40%;
  left: -5%;
  transform: rotate(180deg);
  opacity: 0.2;
}
.review__2 {
  background-color: #43e8ae;
  grid-row: 1/2;
  grid-column: 3/8;
}
.review__3 {
  background-color: #070928;
  grid-row: 2/3;
  grid-column: 7/-1;
  position: relative;
}
.review__3::before {
  content: '"';
  font-family: var(--font-secular);
  font-size: 40rem;
  position: absolute;
  bottom: -50%;
  right: -5%;
  opacity: 0.2;
}
.review__4 {
  background-color: #2a45cc;
}
.review__6 {
  grid-column: 3 / span 4;
}

.hero {
  background-image: var(--gradient-hero);
  max-height: calc(100vh - 16rem);
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 8rem;
  flex-wrap: wrap;
  background-size: 800% 800%;
  animation: heroGradient 30s ease infinite;
}
.hero__text-box {
  padding: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
  margin-top: 10rem;
}
.hero__tagline {
  display: inline-block;
  font-weight: 400;
  font-size: clamp(1rem, 5vh, 3.2rem);
  margin-top: -2rem;
  margin-bottom: 4rem;
}
.hero__tagline::before {
  content: "​";
  content: "​"/"Hello There!";
  alt: "Hello There!";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 25.68s linear 1s infinite forwards;
}
.hero__tagline::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1ch solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%,
  0.3884080997% {
    content: "​H";
    content: "​H"/"Hello There!";
    alt: "Hello There!";
  }
  0.3894080997%,
  0.7778161994% {
    content: "​He";
    content: "​He"/"Hello There!";
    alt: "Hello There!";
  }
  0.7788161994%,
  1.1672242991% {
    content: "​Hel";
    content: "​Hel"/"Hello There!";
    alt: "Hello There!";
  }
  1.1682242991%,
  1.5566323988% {
    content: "​Hell";
    content: "​Hell"/"Hello There!";
    alt: "Hello There!";
  }
  1.5576323988%,
  1.9460404984% {
    content: "​Hello";
    content: "​Hello"/"Hello There!";
    alt: "Hello There!";
  }
  1.9470404984%,
  2.3354485981% {
    content: "​Hello ";
    content: "​Hello "/"Hello There!";
    alt: "Hello There!";
  }
  2.3364485981%,
  2.7248566978% {
    content: "​Hello T";
    content: "​Hello T"/"Hello There!";
    alt: "Hello There!";
  }
  2.7258566978%,
  3.1142647975% {
    content: "​Hello Th";
    content: "​Hello Th"/"Hello There!";
    alt: "Hello There!";
  }
  3.1152647975%,
  3.5036728972% {
    content: "​Hello The";
    content: "​Hello The"/"Hello There!";
    alt: "Hello There!";
  }
  3.5046728972%,
  3.8930809969% {
    content: "​Hello Ther";
    content: "​Hello Ther"/"Hello There!";
    alt: "Hello There!";
  }
  3.8940809969%,
  4.2824890966% {
    content: "​Hello There";
    content: "​Hello There"/"Hello There!";
    alt: "Hello There!";
  }
  4.2834890966%,
  12.7715856698% {
    content: "​Hello There!";
    content: "​Hello There!"/"Hello There!";
    alt: "Hello There!";
  }
  12.7725856698%,
  13.0831121495% {
    content: "​Hello There";
    content: "​Hello There"/"Hello There!";
    alt: "Hello There!";
  }
  13.0841121495%,
  13.3946386293% {
    content: "​Hello Ther";
    content: "​Hello Ther"/"Hello There!";
    alt: "Hello There!";
  }
  13.3956386293%,
  13.706165109% {
    content: "​Hello The";
    content: "​Hello The"/"Hello There!";
    alt: "Hello There!";
  }
  13.707165109%,
  14.0176915888% {
    content: "​Hello Th";
    content: "​Hello Th"/"Hello There!";
    alt: "Hello There!";
  }
  14.0186915888%,
  14.3292180685% {
    content: "​Hello T";
    content: "​Hello T"/"Hello There!";
    alt: "Hello There!";
  }
  14.3302180685%,
  14.6407445483% {
    content: "​Hello ";
    content: "​Hello "/"Hello There!";
    alt: "Hello There!";
  }
  14.6417445483%,
  14.952271028% {
    content: "​Hello";
    content: "​Hello"/"Hello There!";
    alt: "Hello There!";
  }
  14.953271028%,
  15.2637975078% {
    content: "​Hell";
    content: "​Hell"/"Hello There!";
    alt: "Hello There!";
  }
  15.2647975078%,
  15.5753239875% {
    content: "​Hel";
    content: "​Hel"/"Hello There!";
    alt: "Hello There!";
  }
  15.5763239875%,
  15.8868504673% {
    content: "​He";
    content: "​He"/"Hello There!";
    alt: "Hello There!";
  }
  15.8878504673%,
  16.198376947% {
    content: "​H";
    content: "​H"/"Hello There!";
    alt: "Hello There!";
  }
  16.199376947%,
  20.0924579439% {
    content: "​";
    content: "​"/"Hello There!";
    alt: "Hello There!";
  }
  20.0934579439%,
  20.4818660436% {
    content: "​W";
    content: "​W"/"Hello There!";
    alt: "Hello There!";
  }
  20.4828660436%,
  20.8712741433% {
    content: "​Wa";
    content: "​Wa"/"Hello There!";
    alt: "Hello There!";
  }
  20.8722741433%,
  21.260682243% {
    content: "​Wan";
    content: "​Wan"/"Hello There!";
    alt: "Hello There!";
  }
  21.261682243%,
  21.6500903427% {
    content: "​Wann";
    content: "​Wann"/"Hello There!";
    alt: "Hello There!";
  }
  21.6510903427%,
  22.0394984424% {
    content: "​Wanna";
    content: "​Wanna"/"Hello There!";
    alt: "Hello There!";
  }
  22.0404984424%,
  22.4289065421% {
    content: "​Wanna ";
    content: "​Wanna "/"Hello There!";
    alt: "Hello There!";
  }
  22.4299065421%,
  22.8183146417% {
    content: "​Wanna t";
    content: "​Wanna t"/"Hello There!";
    alt: "Hello There!";
  }
  22.8193146417%,
  23.2077227414% {
    content: "​Wanna tr";
    content: "​Wanna tr"/"Hello There!";
    alt: "Hello There!";
  }
  23.2087227414%,
  23.5971308411% {
    content: "​Wanna tra";
    content: "​Wanna tra"/"Hello There!";
    alt: "Hello There!";
  }
  23.5981308411%,
  23.9865389408% {
    content: "​Wanna trac";
    content: "​Wanna trac"/"Hello There!";
    alt: "Hello There!";
  }
  23.9875389408%,
  24.3759470405% {
    content: "​Wanna track";
    content: "​Wanna track"/"Hello There!";
    alt: "Hello There!";
  }
  24.3769470405%,
  24.7653551402% {
    content: "​Wanna track ";
    content: "​Wanna track "/"Hello There!";
    alt: "Hello There!";
  }
  24.7663551402%,
  25.1547632399% {
    content: "​Wanna track y";
    content: "​Wanna track y"/"Hello There!";
    alt: "Hello There!";
  }
  25.1557632399%,
  25.5441713396% {
    content: "​Wanna track yo";
    content: "​Wanna track yo"/"Hello There!";
    alt: "Hello There!";
  }
  25.5451713396%,
  25.9335794393% {
    content: "​Wanna track you";
    content: "​Wanna track you"/"Hello There!";
    alt: "Hello There!";
  }
  25.9345794393%,
  26.3229875389% {
    content: "​Wanna track your";
    content: "​Wanna track your"/"Hello There!";
    alt: "Hello There!";
  }
  26.3239875389%,
  26.7123956386% {
    content: "​Wanna track your ";
    content: "​Wanna track your "/"Hello There!";
    alt: "Hello There!";
  }
  26.7133956386%,
  27.1018037383% {
    content: "​Wanna track your b";
    content: "​Wanna track your b"/"Hello There!";
    alt: "Hello There!";
  }
  27.1028037383%,
  27.491211838% {
    content: "​Wanna track your bu";
    content: "​Wanna track your bu"/"Hello There!";
    alt: "Hello There!";
  }
  27.492211838%,
  27.8806199377% {
    content: "​Wanna track your bus";
    content: "​Wanna track your bus"/"Hello There!";
    alt: "Hello There!";
  }
  27.8816199377%,
  28.2700280374% {
    content: "​Wanna track your buse";
    content: "​Wanna track your buse"/"Hello There!";
    alt: "Hello There!";
  }
  28.2710280374%,
  28.6594361371% {
    content: "​Wanna track your buses";
    content: "​Wanna track your buses"/"Hello There!";
    alt: "Hello There!";
  }
  28.6604361371%,
  37.1485327103% {
    content: "​Wanna track your buses?";
    content: "​Wanna track your buses?"/"Hello There!";
    alt: "Hello There!";
  }
  37.1495327103%,
  37.46005919% {
    content: "​Wanna track your buses";
    content: "​Wanna track your buses"/"Hello There!";
    alt: "Hello There!";
  }
  37.46105919%,
  37.7715856698% {
    content: "​Wanna track your buse";
    content: "​Wanna track your buse"/"Hello There!";
    alt: "Hello There!";
  }
  37.7725856698%,
  38.0831121495% {
    content: "​Wanna track your bus";
    content: "​Wanna track your bus"/"Hello There!";
    alt: "Hello There!";
  }
  38.0841121495%,
  38.3946386293% {
    content: "​Wanna track your bu";
    content: "​Wanna track your bu"/"Hello There!";
    alt: "Hello There!";
  }
  38.3956386293%,
  38.706165109% {
    content: "​Wanna track your b";
    content: "​Wanna track your b"/"Hello There!";
    alt: "Hello There!";
  }
  38.707165109%,
  39.0176915888% {
    content: "​Wanna track your ";
    content: "​Wanna track your "/"Hello There!";
    alt: "Hello There!";
  }
  39.0186915888%,
  39.3292180685% {
    content: "​Wanna track your";
    content: "​Wanna track your"/"Hello There!";
    alt: "Hello There!";
  }
  39.3302180685%,
  39.6407445483% {
    content: "​Wanna track you";
    content: "​Wanna track you"/"Hello There!";
    alt: "Hello There!";
  }
  39.6417445483%,
  39.952271028% {
    content: "​Wanna track yo";
    content: "​Wanna track yo"/"Hello There!";
    alt: "Hello There!";
  }
  39.953271028%,
  40.2637975078% {
    content: "​Wanna track y";
    content: "​Wanna track y"/"Hello There!";
    alt: "Hello There!";
  }
  40.2647975078%,
  40.5753239875% {
    content: "​Wanna track ";
    content: "​Wanna track "/"Hello There!";
    alt: "Hello There!";
  }
  40.5763239875%,
  40.8868504673% {
    content: "​Wanna track";
    content: "​Wanna track"/"Hello There!";
    alt: "Hello There!";
  }
  40.8878504673%,
  41.198376947% {
    content: "​Wanna trac";
    content: "​Wanna trac"/"Hello There!";
    alt: "Hello There!";
  }
  41.199376947%,
  41.5099034268% {
    content: "​Wanna tra";
    content: "​Wanna tra"/"Hello There!";
    alt: "Hello There!";
  }
  41.5109034268%,
  41.8214299065% {
    content: "​Wanna tr";
    content: "​Wanna tr"/"Hello There!";
    alt: "Hello There!";
  }
  41.8224299065%,
  42.1329563863% {
    content: "​Wanna t";
    content: "​Wanna t"/"Hello There!";
    alt: "Hello There!";
  }
  42.1339563863%,
  42.444482866% {
    content: "​Wanna ";
    content: "​Wanna "/"Hello There!";
    alt: "Hello There!";
  }
  42.445482866%,
  42.7560093458% {
    content: "​Wanna";
    content: "​Wanna"/"Hello There!";
    alt: "Hello There!";
  }
  42.7570093458%,
  43.0675358255% {
    content: "​Wann";
    content: "​Wann"/"Hello There!";
    alt: "Hello There!";
  }
  43.0685358255%,
  43.3790623053% {
    content: "​Wan";
    content: "​Wan"/"Hello There!";
    alt: "Hello There!";
  }
  43.3800623053%,
  43.690588785% {
    content: "​Wa";
    content: "​Wa"/"Hello There!";
    alt: "Hello There!";
  }
  43.691588785%,
  44.0021152648% {
    content: "​W";
    content: "​W"/"Hello There!";
    alt: "Hello There!";
  }
  44.0031152648%,
  47.8961962617% {
    content: "​";
    content: "​"/"Hello There!";
    alt: "Hello There!";
  }
  47.8971962617%,
  48.2856043614% {
    content: "​B";
    content: "​B"/"Hello There!";
    alt: "Hello There!";
  }
  48.2866043614%,
  48.6750124611% {
    content: "​Bu";
    content: "​Bu"/"Hello There!";
    alt: "Hello There!";
  }
  48.6760124611%,
  49.0644205607% {
    content: "​Bus";
    content: "​Bus"/"Hello There!";
    alt: "Hello There!";
  }
  49.0654205607%,
  49.4538286604% {
    content: "​Buss";
    content: "​Buss"/"Hello There!";
    alt: "Hello There!";
  }
  49.4548286604%,
  49.8432367601% {
    content: "​BussI";
    content: "​BussI"/"Hello There!";
    alt: "Hello There!";
  }
  49.8442367601%,
  50.2326448598% {
    content: "​BussIt";
    content: "​BussIt"/"Hello There!";
    alt: "Hello There!";
  }
  50.2336448598%,
  50.6220529595% {
    content: "​BussIt ";
    content: "​BussIt "/"Hello There!";
    alt: "Hello There!";
  }
  50.6230529595%,
  51.0114610592% {
    content: "​BussIt i";
    content: "​BussIt i"/"Hello There!";
    alt: "Hello There!";
  }
  51.0124610592%,
  51.4008691589% {
    content: "​BussIt is";
    content: "​BussIt is"/"Hello There!";
    alt: "Hello There!";
  }
  51.4018691589%,
  51.7902772586% {
    content: "​BussIt is ";
    content: "​BussIt is "/"Hello There!";
    alt: "Hello There!";
  }
  51.7912772586%,
  52.1796853583% {
    content: "​BussIt is h";
    content: "​BussIt is h"/"Hello There!";
    alt: "Hello There!";
  }
  52.1806853583%,
  52.5690934579% {
    content: "​BussIt is he";
    content: "​BussIt is he"/"Hello There!";
    alt: "Hello There!";
  }
  52.5700934579%,
  52.9585015576% {
    content: "​BussIt is her";
    content: "​BussIt is her"/"Hello There!";
    alt: "Hello There!";
  }
  52.9595015576%,
  61.4475981308% {
    content: "​BussIt is here";
    content: "​BussIt is here"/"Hello There!";
    alt: "Hello There!";
  }
  61.4485981308%,
  61.7591246106% {
    content: "​BussIt is her";
    content: "​BussIt is her"/"Hello There!";
    alt: "Hello There!";
  }
  61.7601246106%,
  62.0706510903% {
    content: "​BussIt is he";
    content: "​BussIt is he"/"Hello There!";
    alt: "Hello There!";
  }
  62.0716510903%,
  62.3821775701% {
    content: "​BussIt is h";
    content: "​BussIt is h"/"Hello There!";
    alt: "Hello There!";
  }
  62.3831775701%,
  62.6937040498% {
    content: "​BussIt is ";
    content: "​BussIt is "/"Hello There!";
    alt: "Hello There!";
  }
  62.6947040498%,
  63.0052305296% {
    content: "​BussIt is";
    content: "​BussIt is"/"Hello There!";
    alt: "Hello There!";
  }
  63.0062305296%,
  63.3167570093% {
    content: "​BussIt i";
    content: "​BussIt i"/"Hello There!";
    alt: "Hello There!";
  }
  63.3177570093%,
  63.6282834891% {
    content: "​BussIt ";
    content: "​BussIt "/"Hello There!";
    alt: "Hello There!";
  }
  63.6292834891%,
  63.9398099688% {
    content: "​BussIt";
    content: "​BussIt"/"Hello There!";
    alt: "Hello There!";
  }
  63.9408099688%,
  64.2513364486% {
    content: "​BussI";
    content: "​BussI"/"Hello There!";
    alt: "Hello There!";
  }
  64.2523364486%,
  64.5628629283% {
    content: "​Buss";
    content: "​Buss"/"Hello There!";
    alt: "Hello There!";
  }
  64.5638629283%,
  64.8743894081% {
    content: "​Bus";
    content: "​Bus"/"Hello There!";
    alt: "Hello There!";
  }
  64.8753894081%,
  65.1859158879% {
    content: "​Bu";
    content: "​Bu"/"Hello There!";
    alt: "Hello There!";
  }
  65.1869158879%,
  65.4974423676% {
    content: "​B";
    content: "​B"/"Hello There!";
    alt: "Hello There!";
  }
  65.4984423676%,
  69.3915233645% {
    content: "​";
    content: "​"/"Hello There!";
    alt: "Hello There!";
  }
  69.3925233645%,
  69.7809314642% {
    content: "​E";
    content: "​E"/"Hello There!";
    alt: "Hello There!";
  }
  69.7819314642%,
  70.1703395639% {
    content: "​Ei";
    content: "​Ei"/"Hello There!";
    alt: "Hello There!";
  }
  70.1713395639%,
  70.5597476636% {
    content: "​Eit";
    content: "​Eit"/"Hello There!";
    alt: "Hello There!";
  }
  70.5607476636%,
  70.9491557632% {
    content: "​Eith";
    content: "​Eith"/"Hello There!";
    alt: "Hello There!";
  }
  70.9501557632%,
  71.3385638629% {
    content: "​Eithe";
    content: "​Eithe"/"Hello There!";
    alt: "Hello There!";
  }
  71.3395638629%,
  71.7279719626% {
    content: "​Either";
    content: "​Either"/"Hello There!";
    alt: "Hello There!";
  }
  71.7289719626%,
  72.1173800623% {
    content: "​Either ";
    content: "​Either "/"Hello There!";
    alt: "Hello There!";
  }
  72.1183800623%,
  72.506788162% {
    content: "​Either w";
    content: "​Either w"/"Hello There!";
    alt: "Hello There!";
  }
  72.507788162%,
  72.8961962617% {
    content: "​Either wa";
    content: "​Either wa"/"Hello There!";
    alt: "Hello There!";
  }
  72.8971962617%,
  73.2856043614% {
    content: "​Either was";
    content: "​Either was"/"Hello There!";
    alt: "Hello There!";
  }
  73.2866043614%,
  73.6750124611% {
    content: "​Either wast";
    content: "​Either wast"/"Hello There!";
    alt: "Hello There!";
  }
  73.6760124611%,
  74.0644205607% {
    content: "​Either waste";
    content: "​Either waste"/"Hello There!";
    alt: "Hello There!";
  }
  74.0654205607%,
  74.4538286604% {
    content: "​Either waste ";
    content: "​Either waste "/"Hello There!";
    alt: "Hello There!";
  }
  74.4548286604%,
  74.8432367601% {
    content: "​Either waste t";
    content: "​Either waste t"/"Hello There!";
    alt: "Hello There!";
  }
  74.8442367601%,
  75.2326448598% {
    content: "​Either waste ti";
    content: "​Either waste ti"/"Hello There!";
    alt: "Hello There!";
  }
  75.2336448598%,
  75.6220529595% {
    content: "​Either waste tim";
    content: "​Either waste tim"/"Hello There!";
    alt: "Hello There!";
  }
  75.6230529595%,
  76.0114610592% {
    content: "​Either waste time";
    content: "​Either waste time"/"Hello There!";
    alt: "Hello There!";
  }
  76.0124610592%,
  76.4008691589% {
    content: "​Either waste time ";
    content: "​Either waste time "/"Hello There!";
    alt: "Hello There!";
  }
  76.4018691589%,
  76.7902772586% {
    content: "​Either waste time o";
    content: "​Either waste time o"/"Hello There!";
    alt: "Hello There!";
  }
  76.7912772586%,
  77.1796853583% {
    content: "​Either waste time or";
    content: "​Either waste time or"/"Hello There!";
    alt: "Hello There!";
  }
  77.1806853583%,
  77.5690934579% {
    content: "​Either waste time or ";
    content: "​Either waste time or "/"Hello There!";
    alt: "Hello There!";
  }
  77.5700934579%,
  77.9585015576% {
    content: "​Either waste time or B";
    content: "​Either waste time or B"/"Hello There!";
    alt: "Hello There!";
  }
  77.9595015576%,
  78.3479096573% {
    content: "​Either waste time or Bu";
    content: "​Either waste time or Bu"/"Hello There!";
    alt: "Hello There!";
  }
  78.3489096573%,
  78.737317757% {
    content: "​Either waste time or Bus";
    content: "​Either waste time or Bus"/"Hello There!";
    alt: "Hello There!";
  }
  78.738317757%,
  79.1267258567% {
    content: "​Either waste time or Buss";
    content: "​Either waste time or Buss"/"Hello There!";
    alt: "Hello There!";
  }
  79.1277258567%,
  79.5161339564% {
    content: "​Either waste time or BussI";
    content: "​Either waste time or BussI"/"Hello There!";
    alt: "Hello There!";
  }
  79.5171339564%,
  88.0052305296% {
    content: "​Either waste time or BussIt";
    content: "​Either waste time or BussIt"/"Hello There!";
    alt: "Hello There!";
  }
  88.0062305296%,
  88.3167570093% {
    content: "​Either waste time or BussI";
    content: "​Either waste time or BussI"/"Hello There!";
    alt: "Hello There!";
  }
  88.3177570093%,
  88.6282834891% {
    content: "​Either waste time or Buss";
    content: "​Either waste time or Buss"/"Hello There!";
    alt: "Hello There!";
  }
  88.6292834891%,
  88.9398099688% {
    content: "​Either waste time or Bus";
    content: "​Either waste time or Bus"/"Hello There!";
    alt: "Hello There!";
  }
  88.9408099688%,
  89.2513364486% {
    content: "​Either waste time or Bu";
    content: "​Either waste time or Bu"/"Hello There!";
    alt: "Hello There!";
  }
  89.2523364486%,
  89.5628629283% {
    content: "​Either waste time or B";
    content: "​Either waste time or B"/"Hello There!";
    alt: "Hello There!";
  }
  89.5638629283%,
  89.8743894081% {
    content: "​Either waste time or ";
    content: "​Either waste time or "/"Hello There!";
    alt: "Hello There!";
  }
  89.8753894081%,
  90.1859158879% {
    content: "​Either waste time or";
    content: "​Either waste time or"/"Hello There!";
    alt: "Hello There!";
  }
  90.1869158879%,
  90.4974423676% {
    content: "​Either waste time o";
    content: "​Either waste time o"/"Hello There!";
    alt: "Hello There!";
  }
  90.4984423676%,
  90.8089688474% {
    content: "​Either waste time ";
    content: "​Either waste time "/"Hello There!";
    alt: "Hello There!";
  }
  90.8099688474%,
  91.1204953271% {
    content: "​Either waste time";
    content: "​Either waste time"/"Hello There!";
    alt: "Hello There!";
  }
  91.1214953271%,
  91.4320218069% {
    content: "​Either waste tim";
    content: "​Either waste tim"/"Hello There!";
    alt: "Hello There!";
  }
  91.4330218069%,
  91.7435482866% {
    content: "​Either waste ti";
    content: "​Either waste ti"/"Hello There!";
    alt: "Hello There!";
  }
  91.7445482866%,
  92.0550747664% {
    content: "​Either waste t";
    content: "​Either waste t"/"Hello There!";
    alt: "Hello There!";
  }
  92.0560747664%,
  92.3666012461% {
    content: "​Either waste ";
    content: "​Either waste "/"Hello There!";
    alt: "Hello There!";
  }
  92.3676012461%,
  92.6781277259% {
    content: "​Either waste";
    content: "​Either waste"/"Hello There!";
    alt: "Hello There!";
  }
  92.6791277259%,
  92.9896542056% {
    content: "​Either wast";
    content: "​Either wast"/"Hello There!";
    alt: "Hello There!";
  }
  92.9906542056%,
  93.3011806854% {
    content: "​Either was";
    content: "​Either was"/"Hello There!";
    alt: "Hello There!";
  }
  93.3021806854%,
  93.6127071651% {
    content: "​Either wa";
    content: "​Either wa"/"Hello There!";
    alt: "Hello There!";
  }
  93.6137071651%,
  93.9242336449% {
    content: "​Either w";
    content: "​Either w"/"Hello There!";
    alt: "Hello There!";
  }
  93.9252336449%,
  94.2357601246% {
    content: "​Either ";
    content: "​Either "/"Hello There!";
    alt: "Hello There!";
  }
  94.2367601246%,
  94.5472866044% {
    content: "​Either";
    content: "​Either"/"Hello There!";
    alt: "Hello There!";
  }
  94.5482866044%,
  94.8588130841% {
    content: "​Eithe";
    content: "​Eithe"/"Hello There!";
    alt: "Hello There!";
  }
  94.8598130841%,
  95.1703395639% {
    content: "​Eith";
    content: "​Eith"/"Hello There!";
    alt: "Hello There!";
  }
  95.1713395639%,
  95.4818660436% {
    content: "​Eit";
    content: "​Eit"/"Hello There!";
    alt: "Hello There!";
  }
  95.4828660436%,
  95.7933925234% {
    content: "​Ei";
    content: "​Ei"/"Hello There!";
    alt: "Hello There!";
  }
  95.7943925234%,
  96.1049190031% {
    content: "​E";
    content: "​E"/"Hello There!";
    alt: "Hello There!";
  }
  96.1059190031%,
  100% {
    content: "​";
    content: "​"/"Hello There!";
    alt: "Hello There!";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
.hero__img {
  max-width: 100%;
  aspect-ratio: auto;
  height: 100rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1.2rem 2.4rem;
  font-family: var(--font-body);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: transparent;
  color: #fff;
  border-radius: 9px;
  border: 2px solid #fff626;
  transition: all 250ms ease-out;
  position: relative;
  z-index: 9999;
}
.btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 9px;
  z-index: 1;
  transition: all 300ms ease-out;
}
.btn:hover {
  background-color: #fff626;
  color: #070928;
  transform: translateY(-1rem) scale(1.1);
}
.btn:hover::before {
  transform: scale(2);
  opacity: 0;
  background-color: #fff626;
}
.btn:active {
  transform: translateY(0);
}

.feature {
  padding: 3rem;
  display: flex;
  align-items: center;
}
.feature__text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 20rem;
}
.feature__img-box {
  margin-right: 20rem;
}
.feature__num {
  font-size: 11rem;
  font-weight: 700;
  color: #e6e7fb;
}
.feature__details {
  font-weight: 400;
  font-size: 1.7rem;
  color: #070928;
  line-height: 1.7;
  width: 60%;
}

.call_to_action {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cta {
  height: 50rem;
  width: fit-content;
  border-radius: 11px;
  background-image: var(--gradient-hero);
  background-size: 800% 800%;
  animation: heroGradient 30s ease infinite;
  box-shadow: 0 0.5rem 1rem rgba(7, 9, 40, 0.3);
  display: flex;
}
.cta > *[female] {
  background-image: var(--gradient-female);
  background-size: 800% 800%;
  animation: heroGradient 30s ease infinite;
  border-radius: 11px;
}
.cta__profile {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
  font-family: var(--font-secular);
  color: #070928;
}
.cta__uid,
.cta__name,
.cta__busnumber,
.cta__destination {
  font-size: 3rem;
}

.footer {
  padding: 8rem;
  text-align: center;
  background-color: #070928;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.section {
  min-height: calc(100vh - 16rem);
  margin: 0 auto;
  padding: 8rem;
  margin-bottom: 10rem;
  background-color: #fff;
}

/*# sourceMappingURL=/_main.511f80df.css.map */
