<footer class="footer">
      <h2 class="heading__secondary" footer="true">About <span>Us</span></h2>
      <div class="cards">
        <aside class="cta">
          <article class="cta__profile" female="true">
            <img
              src="../static/img/female.svg"
              alt="Male profile image"
              class="cta__img"
            />
            <p class="cta__uid">20BCSXXXX</p>
            <p class="cta__name">Jaspreet Singh</p>
            <p class="cta__busnumber">Bus Number - 08</p>
            <p class="cta__destination">Pathankot</p>
          </article>
        </aside>
        <aside class="cta">
          <article class="cta__profile">
            <img
              src="../static/img/profile.svg"
              alt="Male profile image"
              class="cta__img"
            />
            <p class="cta__uid">20BCSXXXX</p>
            <p class="cta__name">Rudra Singh</p>
            <p class="cta__busnumber">Bus Number - 07</p>
            <p class="cta__destination">Ludiana</p>
          </article>
        </aside>

        <aside class="cta">
          <article class="cta__profile">
            <img
              src="../static/img/profile.svg"
              alt="Male profile image"
              class="cta__img"
            />
            <p class="cta__uid">20BCSXXXX</p>
            <p class="cta__name">Jappreet Singh</p>
            <p class="cta__busnumber">Bus Number - 07</p>
            <p class="cta__destination">Moga</p>
          </article>
        </aside>
        <aside class="cta">
          <article class="cta__profile">
            <img
              src="../static/img/profile.svg"
              alt="Male profile image"
              class="cta__img"
            />
            <p class="cta__uid">20BCSXXXX</p>
            <p class="cta__name">Pratik Gupta</p>
            <p class="cta__busnumber">Bus Number - 07</p>
            <p class="cta__destination">Banur</p>
          </article>
        </aside>
        <aside class="cta">
          <article class="cta__profile">
            <img
              src="./static/img/profile.svg"
              alt="Male profile image"
              class="cta__img"
            />
            <p class="cta__uid">20BCSXXXX</p>
            <p class="cta__name">Ketan Raaz</p>
            <p class="cta__busnumber">Bus Number - 07</p>
            <p class="cta__destination">Chandigarh</p>
          </article>
        </aside>
      </div>
</footer>
