{% extends 'main.html' %} {% block content %}
<div class="section section--1">
  <h1 class="section__heading">Welcome to BussIt</h1>

  <form method="post" name="started_form" class="started_form">
    {{ started.csrf_token }} {{ started.started }}
  </form>
</div>
<div class="section section--2">
  <h1 class="section__heading">Sample Heading</h1>
</div>
<div class="section section--3">
  <h1 class="section__heading">Sample Heading</h1>
</div>
<div class="section section--4">
  <h1 class="section__heading">Sample Heading</h1>
</div>
<div class="section section--5">
  <h1 class="section__heading">Sample Heading</h1>
</div>
{% endblock content %}
