<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud</title>
</head>
{% include 'navbar.html' %}
<body>
<h1>Login</h1>
<br>
<br>
<h3>Register User</h3>
<form name="register_form" method="post">
    {{ create.csrf_token }}
    {{ create.uid.label }}<div>{{ create.uid() }}</div>
    {{ create.email.label }}<div>{{ create.email() }}</div>
    {{ create.password.label }}<div>{{ create.password() }}</div>
    {{ create.confirm_password.label }}<div>{{ create.confirm_password() }}</div>
    <br>
    {{ create.create() }}
</form>

<h3>Login User</h3>
<form name="login_form" method="post">
    {{ create.uid.label }}<div>{{ create.uid() }}</div>
    {{ create.password.label }}<div>{{ create.password() }}</div>
    <br>
    {{ create.create() }}

</form>
</body>
{% include 'footer.html' %}
</html>